<div class="container ">
  <div class="row justify-content-md-center">
<!--    <div class="col col-lg-2"></div>-->
    <div class="col-md-6">
      <div class="card mt-5 pe-5 pb-5 ps-5 mb-5">
        <div class="text-center mt-5 mb-3 heading">Business search</div>
        <form #searchForm="ngForm" (ngSubmit)="onSearchSubmit(searchForm)" ngNativeValidate>
          <div class="mb-3">
            <label for="term" class="form-text form-label">Keyword<i>*</i></label>
            <input type="text"  class="form-control" id="term" name="term" [(ngModel)]="searchFormData.term" required [matAutocomplete]="auto" [formControl]="searchKeywordCtrl">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAutoPromptSelect()" [displayWith]="displayWith">
              <mat-option *ngFor="let e of autocompleteList" [value]="e">{{e}}</mat-option>
            </mat-autocomplete>
          </div>
          <div class="mb-3 row">
            <div class="col-sm-6">
              <label for="distance"  class="form-text form-label">Distance</label>
              <input type="number" class="form-control number-control grey" id="distance" value="10" name="distance" [(ngModel)]="searchFormData.distance">
            </div>

            <div class="col-sm-6 pe-5">
              <label for="category" class="form-text form-label">Category<i>*</i></label>
              <select class="form-select grey" id="category" name="category"  [(ngModel)]="searchFormData.category" required>
                <option value="all" selected>Default</option>
                <option value="arts and entertainments">Arts & Entertainment</option>
                <option value="health and medical">Health & Medical</option>
                <option value="hotel and travel">Hotel & Travel</option>
                <option value="food">Food</option>
                <option value="professional services">Professional Services</option>
              </select>
            </div>

          </div>
          <div class="mb-3">
            <label for="location" class="form-text form-label">Location<i>*</i></label>
            <input type="input" [disabled]="checkBoxOnChange()" class="form-control grey"  id="location" name="location" [(ngModel)]="searchFormData.location" required>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="autoDetect" name="autoDetect" [(ngModel)]="searchFormData.autoDetect">
            <label class="form-text form-check-label" for="autodetect">Auto-detect my location</label>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary button-margin">Submit</button>
            <button type="reset" (click)="onResetClick($event)" class="btn btn-danger button-margin">Clear</button>
          </div>
        </form>
      </div>
    </div>
<!--    <div class="col col-lg-2"></div>-->
  </div>
</div>






